model_list:
  - model_name: openai/*
    litellm_params:
      model: openai/*
      api_key: os.environ/TRENDMICRO_API_KEY
      api_base: os.environ/TRENDMICRO_API_BASE

litellm_settings:
  drop_params: true
  check_provider_endpoint: true

general_settings:
  master_key: "os.environ/MASTER_KEY"
  store_model_in_db: "os.environ/STORE_MODEL_IN_DB"
  store_prompts_in_spend_logs: true
